
*{
    background-color: rgb(240, 234, 214);
}

button{
   background-color: rgba(243, 181, 10, 0.856);
   margin-right: 2%; 
   border-radius: 10px;
   padding: 10px;
   border-style: outset;
}

input{
    background-color: whitesmoke;
}